# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db

# dotenv environment variables
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints 